 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page.</h1>

    <h1>If you want to watch album page to copy this urls : https://album-project01.herokuapp.com/album/</h1>
    {% for i in profile%}
    <>{{ i.name }}</>
    <h3>{{ i.age }}</h3>
    <h5>{{ i.address }}</h5>
    <img src="{{ i.image.url }}" alt="image" width = 300px height = 300px>
    <hr>
    {% endfor %}
</body>
</html>